.button {
	display: flex;
	flex-direction: row;
	border: 0px;
	border-radius: 0px;
	padding: 1rem 3rem;
	background-color: initial;
	color: black;
	gap:1rem;
}

.buttonText {
	flex: 2
}

.buttonIcon {
	flex: 1
}