
.gameField{
	width: 100%;
	height: 100%;
	background-position: center;
	display: flex;
	flex-direction: row;
}
.gameBoard {
	width: 60%;
	display: flex;
	flex-direction: row;
	
}
.infoBoard{
	width: 40%;
	margin-top: 100px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-family: 'Marske';
	font-weight: 800;
}
.topBarMenu{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

