
.gameField{
	width: 100%;
	height: 100%;
	background-image: url("../../../public/imgs/back.png");
	background-position: center;
	display: flex;
	flex-direction: row;
}
.gameBoard {
	width: 60%;
	display: flex;
	flex-direction: row;
	
}
.infoBoard{
	width: 40%;
	margin-top: 100px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-family: 'Marske';
	font-weight: 800;
}
.topBarMenu{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.selectingComb{
	width: 300px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.8;
	color: white;
	padding: 10px;
}
.nameLocker{
	color: white;
	font-size: 24px;
}
.lvlLocker{
	display: flex;
	color: red;
	margin-bottom: 60px;
}
.topCountComb{
	display: flex;
	padding: 7px;
	justify-content: space-between;
	height: 15px;
	border: 1px solid rgb(82, 82, 82);
	margin-bottom: 10px;
}
.topCountCombCount{
	background-color: rgb(65, 65, 65);
	padding: 0px 10px;
}
.changeComb{
	display: flex;
	gap: 20px;
}