.selectingComb {
	width: auto;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.8;
	color: white;
	padding: 10px;
	max-height: 100vh;
	max-width: 23vw;
}

.topCountComb {
	display: flex;
	padding: 7px;
	justify-content: space-between;
	height: 15px;
	border: 1px solid rgb(82, 82, 82);
	margin-bottom: 10px;
}

.topCountCombCount {
	background-color: rgb(65, 65, 65);
	padding: 0px 10px;
}

.changeComb {
	border: 1px rgb(82, 82, 82) solid;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	padding: 10px;

}