.allContainer{
	background-color: red;
	width: 600px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.anyContainer {
	background-color: green;
	position: relative;
	width: 200px;
	height: 200px;
}

.anyContainer>svg {
	background: transparent;
	overflow: visible;
	position: absolute;
}