.selectorContainer {
	display: flex;
	flex-direction: row;
	font-family: 'Marske';
	user-select: none;
}

.selectorItem {
	flex:1;
	border: 0px;
	border-radius: 0px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.selectedItem{
	border-bottom: 1px solid red;
	padding: 0.5rem 1rem;	
}

