.lvlLocker{
	display: flex;
	color: red;
}
.imgLevelLocker{
    fill: "red";
    margin-right: "3px";
}
.nameLevellocker{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}